ocr
IDD_FGVD/
VMMRDB/
indianvehicles.mp4
Moving_Vehicle_Detection_and_Classification_Using_.pdf
model-weights-spectrico-mmr-mobilenet-128x128-344FF72B.pb
ANPR.mp4
Kaggle/
IDD/
OutputVideos/
VALPR-PC.pdf
vehicle_img/
color_clean.rar
NumberPlates/
Car_Colors.v5i.clip.zip 